## ENVECON 147

* The following exercise should give you practice with the tools for manipulating a table in Python that are needed to complete Question 1 in Homework 1.

In [3]:
from datascience import *
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
plt.style.use('seaborn-muted')

### Exercise 1

First, let's load the table.

In [4]:
mytable = Table.read_table('ex01.csv')
mytable

Index | Column A
1     | 10
2     | 20
3     | 40
4     | 70
5     | 100

Next, let's add a constant column of 10 to the table named Column B

In [5]:
mytable['Column B'] = 10
mytable

Index | Column A | Column B
1     | 10       | 10
2     | 20       | 10
3     | 40       | 10
4     | 70       | 10
5     | 100      | 10

Next, let's add Column A and Column B together to create Column C

In [6]:
mytable['Column C'] = mytable['Column A'] + mytable['Column B']
mytable

Index | Column A | Column B | Column C
1     | 10       | 10       | 20
2     | 20       | 10       | 30
3     | 40       | 10       | 50
4     | 70       | 10       | 80
5     | 100      | 10       | 110

We can also multiply or divide two columns.  Let's try multiplying Column A by the Index column and call it Column D.

In [7]:
mytable['Column D'] = mytable['Column A'] * mytable['Index']
mytable

Index | Column A | Column B | Column C | Column D
1     | 10       | 10       | 20       | 10
2     | 20       | 10       | 30       | 40
3     | 40       | 10       | 50       | 120
4     | 70       | 10       | 80       | 280
5     | 100      | 10       | 110      | 500

Suppose we want to find the difference between each row in a given column.  For example, suppose we want to know the difference between Rows 2 and 1, Rows 3 and 2, Rows 4 and 3, etc. in Column A.  We can use the np.diff function from the Numpy package to find this.

In [8]:
np.diff(mytable['Column A'])

array([10, 20, 30, 30])

Note, however, that the array of differences has a length 4, whereas the table has 5 rows.  If we try to define a new column using this vector, we will get an error.  To get arround this, we will need to manually insert an additional number into our array of differences.  Let's try adding a 0 to the beginning of the array and then inserting this into the table as Column E.  We can do this using the np.append function from the Numpy package.

In [9]:
mytable['Column E'] = np.append(0, np.diff(mytable['Column A']))
mytable

Index | Column A | Column B | Column C | Column D | Column E
1     | 10       | 10       | 20       | 10       | 0
2     | 20       | 10       | 30       | 40       | 10
3     | 40       | 10       | 50       | 120      | 20
4     | 70       | 10       | 80       | 280      | 30
5     | 100      | 10       | 110      | 500      | 30

Note that in the homework, you will need to do something similar to the above.  Think carefully about which value you want to add to your array of differences and whether this value should be added at the beginning or the end of the array.  While we really would like for you to understand Python, we do accept that some students may struggle with this.  Please come see us in office hours or post to the course Piazza page, found at the link piazza.com/berkeley/spring2020/eep147, if you need help.  If you are really struggling, you can solve the problem elsewhere and define a new column manually, as follows, making sure that the length of the vector you create is equal to the number of rows in the table.

In [10]:
mytable['Column F'] = [3, 4, 5, 6, 7]
mytable

Index | Column A | Column B | Column C | Column D | Column E | Column F
1     | 10       | 10       | 20       | 10       | 0        | 3
2     | 20       | 10       | 30       | 40       | 10       | 4
3     | 40       | 10       | 50       | 120      | 20       | 5
4     | 70       | 10       | 80       | 280      | 30       | 6
5     | 100      | 10       | 110      | 500      | 30       | 7

This is it for the first exercise!  Hopefully it helps you get through the first question in Homework 1.